<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <!-- Latest compiled and minified CSS -->
        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
            <link href="css/ionic.app.css" rel="stylesheet">
            -->
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js" type="text/javascript"></script>-->
        <script src="lib/angular-resource/angular-resource.min.js" type="text/javascript"</script> 
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!-- your app's js -->
        <script src="js/app.js"></script>
    </head>
    <body ng-app="radar" ng-controller="ScheduleCtrl">
        <ion-pane>
            <div class="bar bar-header bar-royal">
                <h1 class="title">
                RaideRadar</h2>
            </div>
            <div class="bar bar-subheader has-header bar-balanced">
                <h2 class="title">Junahaku</h2>
            </div>
            <ion-content>
                <div class="content has-header has-subheader">
                    <div class="row">
                        <div class="col text-center">Mistä</div>
                        <div class="col text-center">Mihin</div>
                    </div>
                    <!-- tekstikentät lähtö- ja määränpääasemille -->
                    <div class="row">
                        <div class="col">
                            <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" class="form-control text-center" placeholder="Departure Station" ng-focus="editingStarted()" ng-change="searchDeparture()" ng-model="data.departure">
                        </div>
                        </label>
                        <div class="col">
                            <label class="item item-input">
                            <i class="icon ion-search placeholder-icon"></i>
                            <input type="search" class="form-control text-center" placeholder="Arrival Station" ng-focus="editingStarted()" ng-change="searchDestination()" ng-model="data.destination"></i>
                            </label>
                        </div>
                    </div>

                    <!-- lista löydetyistä asemista. piilossa ellei käyttäjä kirjoita tekstikenttiin -->
                    <div class="row">
                        <div ng-hide="editingStopped" class="col">
                            <ion-scroll zooming="false" direction="y" style="height: 200px">
                                <div class="list">
                                    <li class="item" ng-repeat="station in data.stations" ng-click="stationItemClicked({{station}})">{{station.stationName}}</li>
                                </div>
                            </ion-scroll>
                        </div>
                     </div>

                     <!-- painike ja lista junien hakuun. painike näkyy vain kun tekstikenttiä ei muokata -->
                     <div class="row">
                        <div class="col">
                        <button class="button button-royal ion-chevron-right" ng-show="editingStopped" ng-click="searchForTrains()">
                        Hae junat
                        </button>
                        <ion-scroll zooming="false" direction="y" style="height: 700px">
                            <div class="list">
                                <li class="item" ng-repeat="train in data.trains">{{train.trainType}}{{train.trainNumber}}</li>
                            </div>
                        </ion-scroll>
                        </div>
                    </div>
                </div>
                </div>
            </ion-content>
        </ion-pane>
    </body>
</html>