body {
	font-family: 'Montserrat', sans-serif;
    padding: 0;
}

/*
    border-color: rgba(17, 17, 17, 0.09);
    background-color: rgba(170, 170, 170, 0.18);
    color: #444; */

    /*background-color: #28A54C;*/
::-webkit-scrollbar {
    width:5px;
    height:5px;
    background-color:#f5f5f5;
    border-left:1px solid #d2d2d2
}

::-webkit-scrollbar-thumb { 
    border-radius:10px;
    background:#28A54C;
    background:-moz-linear-gradient(top,#28A54C 0%,#37D464 50%,#3CE66C 100%);
    background:-webkit-linear-gradient(top,#28A54C 0%,#37D464 50%,#3CE66C 100%);
    background:-o-linear-gradient(top,#28A54C 0%,#37D464 50%,#3CE66C 100%);
    background:-ms-linear-gradient(top,#28A54C 0%,#37D464 50%,#3CE66C 100%);
    background:linear-gradient(to bottom,#28A54C 0%,#37D464 50%,#3CE66C 100%)
}

th {
    border-bottom: 0;
}

.list {
    border-bottom: 0 !important;
    border-top:    0 !important;
    border:        0 !important;
}

.favList {
    padding-bottom: 0px !important;
    padding-top:    0px !important;
}

.trains {
    border-style: none  !important;
}

.item-button-right, .trains {
    border: 0 !important;
}

#listHead {
    border-style: none  !important;
    margin:         0   !important;
    border:         0   !important;
    border-top:     0   !important;
    border-bottom:  0   !important;
    padding-top:    0   !important;
    padding-bottom: 0   !important;
    margin-bottom:  4px !important;
}

#map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#load {
    margin: 0 auto;
    text-align:center;
    vertical-align: middle;
    position:relative;
    height: 100%;
    width: 100%;
}

#train-list-load {
    margin: 0 auto;
    text-align:center;
    vertical-align: middle;
    position:relative;
}

.scroll {
  height: 100%;
}

#content {
    overflow: hidden;
}

#markerContent {
    font-family: 'Montserrat', sans-serif;
}

h4 {
	text-align: center;
}

#backButton {
    vertical-align: middle;
}

#favoritesList {
    margin:           0 !important;
    border:           0 !important;
    border-color: rgba(17, 17, 17, 0.09)        !important;
    background-color: rgba(170, 170, 170, 0.18) !important; 
    height: 50px !important;
    vertical-align: middle;   
}

#favorites {

}

#favoriteTable {
	width: 95%;
	margin: 0 auto;
    border: 0px !important;
}

#favoriteTd {
    border-bottom: 0px !important;
}

#favoriteTableHead {
	background-color: #6b46e5;
}

#trainlist-item {

    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
}

#trainlist {

    padding-bottom:500px;

}
#trainbutton {
    margin-top: 0px;
    height: 0px;
    padding-top: 0px;
    color: blue;
    border-top: 0px !important;
}

#stationlist {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#trainimg {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;

}
#trainimg img {
    max-height: 80px;
    max-width: 80px;

}

#train-time {
    font-size: 5vw;
    color: #22cc22;
}
#train-name {
    font-size: 5vw;
    color: #ff2222;
}

#depStation {
   /*font-size: 5vw;*/
    height: 15px;

}

#desStation {

    height: 15px;

}

#trainprogressed {
    min-width: 1px;
    background-color: #5bc35f;
    padding: 0px;
    margin: 0px;
    border-left-min-width: 0.001em;
    border-left: solid white 0.1em;
}


#trainnotprogressed {
    min-width: 1px;
    background-color: #aa55ee;
    padding: 0px;
    margin: 0px;
    border-left-min-width: 0.001em;
    border-left: solid white 0.1em;
}

#progress-label {
    margin: 3px;
    font-size: 10px;
    max-height: 30px;
}

#stationRow {
    margin: 0px;
    padding: 0px;
    height: 15px;
}

#isOnRoute p {
    text-align: center;
    font-size: 15px;
}

#wagonInfo p {
    font-family: 'Montserrat', sans-serif;
}
#wagonDesc p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#wagonDesc {
    padding-top: 20px;
}

#favLeft {
    text-align: left;
}

#favCenter {

}

#favRight {
    text-align: right;
 
}

#favRow {
    padding: 0px;
    height: auto;
}

#timeInfo h2, h4 {
    margin: 5px;
}
